In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv ('Price_Agriculture_commodities_Week (1).csv')

In [9]:
print (dataset)

            State  District    Market              Commodity      Variety  \
0         Gujarat    Amreli  Damnagar  Bhindi(Ladies Finger)       Bhindi
1         Gujarat    Amreli  Damnagar                Brinjal        Other
2         Gujarat    Amreli  Damnagar                Cabbage      Cabbage
3         Gujarat    Amreli  Damnagar            Cauliflower  Cauliflower
4         Gujarat    Amreli  Damnagar      Coriander(Leaves)    Coriander
...           ...       ...       ...                    ...          ...
23088  Uttrakhand  Haridwar   Roorkee                  Mango        Other
23089  Uttrakhand  Haridwar   Roorkee   Mousambi(Sweet Lime)        Other
23090  Uttrakhand  Haridwar   Roorkee         Pear(Marasebu)        Other
23091  Uttrakhand  Haridwar   Roorkee                 Potato        Other
23092  Uttrakhand  Haridwar   Roorkee                Pumpkin        Other

        Grade Arrival_Date  Min Price  Max Price  Modal Price
0         FAQ   27-07-2023     4100.0     4500.0       4350.0
1         FAQ   27-07-2023     2200.0     3000.0       2450.0
2         FAQ   27-07-2023     2350.0     3000.0       2700.0
3         FAQ   27-07-2023     7000.0     7500.0       7250.0
4         FAQ   27-07-2023     8400.0     9000.0       8850.0
...       ...          ...        ...        ...          ...
23088  Medium   02-08-2023      800.0     1200.0       1000.0
23089  Medium   02-08-2023     1500.0     2500.0       2000.0
23090  Medium   02-08-2023     2000.0     3000.0       2500.0
23091     FAQ   02-08-2023      900.0     1800.0       1500.0
23092     FAQ   02-08-2023      500.0      700.0        600.0

[23093 rows x 10 columns]

In [10]:
dataset.shape

(23093, 10)

In [11]:
dataset.info

<bound method DataFrame.info of             State  District    Market              Commodity      Variety  \
0         Gujarat    Amreli  Damnagar  Bhindi(Ladies Finger)       Bhindi
1         Gujarat    Amreli  Damnagar                Brinjal        Other
2         Gujarat    Amreli  Damnagar                Cabbage      Cabbage
3         Gujarat    Amreli  Damnagar            Cauliflower  Cauliflower
4         Gujarat    Amreli  Damnagar      Coriander(Leaves)    Coriander
...           ...       ...       ...                    ...          ...
23088  Uttrakhand  Haridwar   Roorkee                  Mango        Other
23089  Uttrakhand  Haridwar   Roorkee   Mousambi(Sweet Lime)        Other
23090  Uttrakhand  Haridwar   Roorkee         Pear(Marasebu)        Other
23091  Uttrakhand  Haridwar   Roorkee                 Potato        Other
23092  Uttrakhand  Haridwar   Roorkee                Pumpkin        Other

        Grade Arrival_Date  Min Price  Max Price  Modal Price
0         FAQ   27-07-2023     4100.0     4500.0       4350.0
1         FAQ   27-07-2023     2200.0     3000.0       2450.0
2         FAQ   27-07-2023     2350.0     3000.0       2700.0
3         FAQ   27-07-2023     7000.0     7500.0       7250.0
4         FAQ   27-07-2023     8400.0     9000.0       8850.0
...       ...          ...        ...        ...          ...
23088  Medium   02-08-2023      800.0     1200.0       1000.0
23089  Medium   02-08-2023     1500.0     2500.0       2000.0
23090  Medium   02-08-2023     2000.0     3000.0       2500.0
23091     FAQ   02-08-2023      900.0     1800.0       1500.0
23092     FAQ   02-08-2023      500.0      700.0        600.0

[23093 rows x 10 columns]>

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23093 entries, 0 to 23092
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         23093 non-null  object
 1   District      23093 non-null  object
 2   Market        23093 non-null  object
 3   Commodity     23093 non-null  object
 4   Variety       23093 non-null  object
 5   Grade         23093 non-null  object
 6   Arrival_Date  23093 non-null  object
 7   Min Price     23093 non-null  float64
 8   Max Price     23093 non-null  float64
 9   Modal Price   23093 non-null  float64
dtypes: float64(3), object(7)
memory usage: 1.8+ MB

In [13]:
dataset.describe()

           Min Price      Max Price    Modal Price
count   23093.000000   23093.000000   23093.000000
mean     4187.077045    4976.034260    4602.917742
std      5472.783385    6277.308057    5843.822711
min         0.000000       0.000000       0.830000
25%      1750.000000    2000.000000    1955.000000
50%      2725.000000    3400.000000    3000.000000
75%      5000.000000    6000.000000    5500.000000
max    223500.000000  227500.000000  225500.000000

In [14]:
dataset.isnull().sum()

State           0
District        0
Market          0
Commodity       0
Variety         0
Grade           0
Arrival_Date    0
Min Price       0
Max Price       0
Modal Price     0
dtype: int64

In [16]:
zero_count = dataset['Min Price'].eq(0).sum()

In [17]:
zero_count

20

In [18]:
select_data=dataset[["State","Max Price"]]
print (select_data)

            State  Max Price
0         Gujarat     4500.0
1         Gujarat     3000.0
2         Gujarat     3000.0
3         Gujarat     7500.0
4         Gujarat     9000.0
...           ...        ...
23088  Uttrakhand     1200.0
23089  Uttrakhand     2500.0
23090  Uttrakhand     3000.0
23091  Uttrakhand     1800.0
23092  Uttrakhand      700.0

[23093 rows x 2 columns]